<template>
    <div class="relative inline-block w-10 mr-2 p-1 align-middle select-none transition duration-200 ease-in" @click="toggleable && toggle()">
        <input type="checkbox"
               name="toggle"
               id="toggle"
               class="toggle-checkbox absolute block w-6 h-6 rounded-full bg-white border-4 border-primaryLightest appearance-none focus:outline-none"
               :class="toggleable && 'cursor-pointer'"
               :checked="isDeleted ?  '' : 'checked' "
               :disabled="! toggleable"
        />
        <label for="toggle"
               class="toggle-label block overflow-hidden h-6 rounded-full bg-primary"
               :class="toggleable && 'cursor-pointer'">
        </label>
    </div>
</template>

<script>
export default {
    name: 'Toggle',
    props: {
        deleted: {
            type: Boolean,
        },
        route: {
            type: String,
        },
        model: {
            type: Object,
        },
        toggleable: {
          type: Boolean,
          default: true
        }
    },
    data () {
        return {
            isDeleted: this.deleted,
            baseUrl: `/api/${this.route}/${this.model.id}`,
        }
    },
    methods: {
        toggle () {
            this.isDeleted ? this.restore() : this.delete()
        },
        delete () {
            axios.delete(this.baseUrl)
                .then(() => {
                  this.isDeleted = true
                    flash(`You have successfully deleted ${this.name}.`)
                })
        },
        restore () {
            axios.get(`${this.baseUrl}/restore`)
                .then(({data}) => {
                  this.isDeleted = false
                    flash(`You have successfully restored ${data.name}.`)
                })
        }
    }
}
</script>

<style>
.toggle-checkbox:checked {
    @apply right-0 border-primaryDarker;
}
.toggle-checkbox:checked + .toggle-label {
    @apply bg-primary;
}
</style>
