<template>
  <div class="" :class="containerClass">
    <label class="custom-label flex" :class="toggleable ? 'cursor-pointer' : 'cursor-not-allowed '">
      <div class="w-5 h-5 p-1 flex justify-center items-center mr-2 border-2 border-primary rounded custom-shadow" :class="isChecked ? 'bg-primary' : 'bg-white'">
<!--        <input type="checkbox" class="hidden" v-model="isChecked">-->
        <input type="checkbox" class="hidden" @change="toggle">
        <svg width="11" height="8" viewBox="0 0 11 8" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M10.1968 0.306019C9.78881 -0.102006 9.12727 -0.102006 8.71925 0.306019L3.55232 5.47295L1.78361 3.70425C1.37559 3.29622 0.714045 3.29622 0.306019 3.70425C-0.102007 4.11227 -0.102006 4.77381 0.30602 5.18184L2.73025 7.60607C2.75452 7.63647 2.78073 7.66583 2.80888 7.69398C3.21691 8.102 3.87845 8.102 4.28647 7.69398L10.1968 1.78361C10.6049 1.37559 10.6049 0.714045 10.1968 0.306019Z" fill="white"/>
        </svg>
      </div>
    </label>
  </div>
</template>

<script>
export default {
    name: 'ToggleUpdate',
    props: {
        checked: {
            type: Boolean,
        },
        route: {
            type: String,
        },
        model: {
            type: Object,
        },
        toggleable: {
          type: Boolean,
          default: true
        },
        containerClass: {
          type: String,
          default: 'w-full md:w-6/12 my-4'
        }
    },
    data () {
        return {
            baseUrl: `api/${this.route}/${this.model.id}`,
            isChecked: this.checked,
        }
    },
    methods: {
        toggle () {
          this.toggleable && this.submit()
        },
      submit () {
        axios.put(this.baseUrl, {
          checked: this.isChecked
        })
          .then(({data}) => {
            this.isChecked = data.status
          })
      }
    }
}
</script>
