<template>
  <div class="pb-32">
    <div class="mx-auto py-5">
      <div class="w-full">

        <div class="m-4">
          <div class="flex justify-end w-full">
            <button
              class="flex bg-primary rounded-xl overflow-hidden border border-primary shadow-lg focus:outline-none"
              @click="save">
              <div class="py-1 px-4 text-white font-bold">
                Save
              </div>
              <div class="bg-white px-3 flex flex-shrink-0 py-3">
                <i class="far fa-save fa-lg text-primary"></i>
              </div>
            </button>
          </div>
        </div>

        <p class="text-right mx-4"><small><i>These are the default value, you may change them as you like.</i></small>
        </p>

        <form @submit.prevent="save" @click="errors.clear($event.target.name)">
          <h3 class="mx-4 mb-12 font-bolder">Chart of Accounts Setup</h3>
          <div class="mt-3 grid grid-cols-12">

            <div class="col-span-6 md:col-span-3 border-r my-3">
              <div class="col-span-12">
                <text-input
                  :name="'digit'"
                  :value="digit"
                  :label="'Digit'"
                  :margin="''"
                  :error="errors.has('digit') ? errors.get('digit') : ''"
                  :width="'w-11/12 mx-auto'"
                  @update:value="digit = $event"
                />
              </div>
            </div>

          </div>
          <div class="mt-3 grid grid-cols-12">

            <div class="col-span-6 md:col-span-3 border-r my-3">
              <text-input
                :name="'assetStart'"
                :value="assetStart"
                :label="'Asset Start'"
                :margin="''"
                :error="errors.has('assetStart') ? errors.get('assetStart') : ''"
                :width="'w-11/12 mx-auto'"
                @update:value="assetStart = $event"
              />
            </div>

            <div class="col-span-6 md:col-span-3 border-r my-3">
              <text-input
                :name="'assetEnd'"
                :value="assetEnd"
                :label="'Asset End'"
                :margin="''"
                :error="errors.has('assetEnd') ? errors.get('assetEnd') : ''"
                :width="'w-11/12 mx-auto'"
                @update:value="assetEnd = $event"
              />
            </div>

            <div class="col-span-6 md:col-span-3 border-r my-3">
              <text-input
                :name="'liabilityStart'"
                :value="liabilityStart"
                :label="'Liability Start'"
                :margin="''"
                :error="errors.has('liabilityStart') ? errors.get('liabilityStart') : ''"
                :width="'w-11/12 mx-auto'"
                @update:value="liabilityStart = $event"
              />
            </div>

            <div class="col-span-6 md:col-span-3 border-r my-3">
              <text-input
                :name="'liabilityEnd'"
                :value="liabilityEnd"
                :label="'Liability End'"
                :margin="''"
                :error="errors.has('liabilityEnd') ? errors.get('liabilityEnd') : ''"
                :width="'w-11/12 mx-auto'"
                @update:value="liabilityEnd = $event"
              />
            </div>

            <div class="col-span-6 md:col-span-3 border-r my-3">
              <text-input
                :name="'equityStart'"
                :value="equityStart"
                :label="'Equity Start'"
                :margin="''"
                :error="errors.has('equityStart') ? errors.get('equityStart') : ''"
                :width="'w-11/12 mx-auto'"
                @update:value="equityStart = $event"
              />
            </div>

            <div class="col-span-6 md:col-span-3 border-r my-3">
              <text-input
                :name="'equityEnd'"
                :value="equityEnd"
                :label="'Equity End'"
                :margin="''"
                :error="errors.has('equityEnd') ? errors.get('equityEnd') : ''"
                :width="'w-11/12 mx-auto'"
                @update:value="equityEnd = $event"
              />
            </div>

            <div class="col-span-6 md:col-span-3 border-r my-3">
              <text-input
                :name="'incomeStart'"
                :value="incomeStart"
                :label="'Income Start'"
                :margin="''"
                :error="errors.has('incomeStart') ? errors.get('incomeStart') : ''"
                :width="'w-11/12 mx-auto'"
                @update:value="incomeStart = $event"
              />
            </div>

            <div class="col-span-6 md:col-span-3 border-r my-3">
              <text-input
                :name="'incomeEnd'"
                :value="incomeEnd"
                :label="'Income End'"
                :margin="''"
                :error="errors.has('incomeEnd') ? errors.get('incomeEnd') : ''"
                :width="'w-11/12 mx-auto'"
                @update:value="incomeEnd = $event"
              />
            </div>

            <div class="col-span-6 md:col-span-3 border-r my-3">
              <text-input
                :name="'expensesStart'"
                :value="expensesStart"
                :label="'Expenses Start'"
                :margin="''"
                :error="errors.has('expensesStart') ? errors.get('expensesStart') : ''"
                :width="'w-11/12 mx-auto'"
                @update:value="expensesStart = $event"
              />
            </div>

            <div class="col-span-6 md:col-span-3 border-r my-3">
              <text-input
                :name="'expensesEnd'"
                :value="expensesEnd"
                :label="'Expenses End'"
                :margin="''"
                :error="errors.has('expensesEnd') ? errors.get('expensesEnd') : ''"
                :width="'w-11/12 mx-auto'"
                @update:value="expensesEnd = $event"
              />
            </div>

          </div>

          <h3 class="mx-4 my-8" font-bolder>Specific Account Setup</h3>
          <div class="mt-3 grid grid-cols-12">
            <div class="col-span-6 md:col-span-3 border-r my-3">
              <text-input
                :name="'cashOnHand'"
                :value="cashOnHand"
                :label="'Cash on Hand'"
                :margin="''"
                :error="errors.has('cashOnHand') ? errors.get('cashOnHand') : ''"
                :width="'w-11/12 mx-auto'"
                @update:value="cashOnHand = $event"
              />
            </div>

            <div class="col-span-6 md:col-span-3 border-r my-3">
              <text-input
                :name="'cashInBroker'"
                :value="cashInBroker"
                :label="'Cash In Broker'"
                :margin="''"
                :error="errors.has('cashInBroker') ? errors.get('cashInBroker') : ''"
                :width="'w-11/12 mx-auto'"
                @update:value="cashInBroker = $event"
              />
            </div>

            <div class="col-span-6 md:col-span-3 border-r my-3">
              <text-input
                :name="'inventory'"
                :value="inventory"
                :label="'Inventory'"
                :margin="''"
                :error="errors.has('inventory') ? errors.get('inventory') : ''"
                :width="'w-11/12 mx-auto'"
                @update:value="inventory = $event"
              />
            </div>

          </div>
        </form>

      </div>
    </div>

  </div>
</template>

<script>
import Errors from "../helpers/Errors";

export default {
  name: 'Config',
  data() {
    return {
      digit: 6,
      assetStart: 100000,
      assetEnd: 199999,
      liabilityStart: 200000,
      liabilityEnd: 299999,
      equityStart: 300000,
      equityEnd: 399999,
      incomeStart: 400000,
      incomeEnd: 499999,
      expensesStart: 500000,
      expensesEnd: 599999,
      cashOnHand: 100100,
      cashInBroker: 100102,
      inventory: 100400,
      errors: new Errors(),
    }
  },
  methods: {
    save() {
      axios.post('api/config', {
        digit: parseInt(this.digit),
        assetStart: parseInt(this.assetStart),
        assetEnd: parseInt(this.assetEnd),
        liabilityStart: parseInt(this.liabilityStart),
        liabilityEnd: parseInt(this.liabilityEnd),
        equityStart: parseInt(this.equityStart),
        equityEnd: parseInt(this.equityEnd),
        incomeStart: parseInt(this.incomeStart),
        incomeEnd: parseInt(this.incomeEnd),
        expensesStart: parseInt(this.expensesStart),
        expensesEnd: parseInt(this.expensesEnd),
        cashOnHand: parseInt(this.cashOnHand),
        cashInBroker: parseInt(this.cashInBroker),
        inventory: parseInt(this.inventory),
      }).then(({data}) => {

      }).catch((error) => {
        this.errors.record(error.response.data.errors)
      })
    }
  }
}
</script>
