<template>
    <div class="form-box">
      <div class="button-box">
        <div class="toggle border-0 focus:outline-none" :class="isRegisterActive ? 'left-24 w-32' : 'left-0 w-28'"></div>
        <div class="flex">
          <div class="toggle-btn"
               :class="isRegisterActive ? 'text-gray-900' : 'text-white'"
               @click="toggle">
            Login
          </div>
          <div class="toggle-btn"
               :class="isRegisterActive ? 'text-white' : 'text-gray-900'"
               @click="toggle">
          Register
        </div>
      </div>
      </div>

      <login :is-register-active="isRegisterActive" />

      <register :is-register-active="isRegisterActive" />
    </div>
</template>

<script>
export default {
  name: 'Authenticate',
  data() {
    return {
      isRegisterActive: false,
    }
  },
  methods: {
    toggle() {
      this.isRegisterActive = ! this.isRegisterActive
    }
  }
}
</script>

<style>
.form-box {
  @apply w-full max-w-sm sm:w-96 relative bg-white overflow-hidden p-1.5 rounded-lg;
  height: 580px;
  margin: 6% auto 0 auto;
}

.button-box {
  @apply w-56 relative rounded-3xl;
  margin: 35px auto;
  box-shadow: 0 3px 15px rgba(0,0,0,0.2);
}

.toggle-btn {
  @apply py-3 px-6 cursor-pointer bg-transparent relative duration-500 focus:outline-none border-0;
}

.toggle {
  @apply top-0 absolute duration-500 text-white h-full rounded-3xl bg-gradient-to-r from-primary to-primaryDarker;
}
</style>
