<template>
  <div class="">
    <div class="full bg-gray-200 mx-auto py-5">
      <div class="text-right mr-12 text-red-700 font-bold" v-if="message">
        <i class="fas fa-exclamation-triangle mr-4"></i> {{ message }}
      </div>
      <div class="flex py-5">

        <div class="mt-3 grid grid-cols-12">
          <div class="col-span-6 md:col-span-3 border-r my-3">
            <text-input
              :name="'date'"
              :value="date"
              :label="'Date'"
              :margin="''"
              :error="errors.has('date') ? errors.get('date') : ''"
              :width="'w-11/12 mx-auto'"
              @update:value="date = $event"
            />
          </div>

          <div class="col-span-6 md:col-span-3 border-r my-3">
            <div>
              <options
                :route="'third-parties'"
                :label="'Payor'"
                :name="'payor'"
                :passed-value="payor"
                @update:value="payor = $event"
              ></options>
            </div>
            <!--            <p class="text-red-400 text-xs m-2" v-if="errors.has('payor') ">{{ errors.get('payor') }}</p>-->
          </div>

          <div class="col-span-6 md:col-span-3 border-r my-3">
            <text-input
              :name="'reference'"
              :value="reference"
              :label="'Reference'"
              :margin="''"
              :error="errors.has('reference') ? errors.get('reference') : ''"
              :width="'w-11/12 mx-auto'"
              @update:value="reference = $event"
            />
          </div>
        </div>

        <div class="w-4/12 mr-12">
          <div class="flex justify-end w-full">
            <button
              class="flex bg-primary rounded-xl overflow-hidden border border-primary shadow-lg focus:outline-none"
              @click="save">
              <div class="py-1 px-4 text-white font-bold">
                Save
              </div>
              <div class="bg-white px-3 flex flex-shrink-0 py-3">
                <i class="far fa-save fa-lg text-primary"></i>
              </div>
            </button>
          </div>
        </div>
      </div>

      <div class="mt-5 grid grid-cols-12 bg-primaryLightest text-white">
        <div class="col-span-3 text-center border-r">
          Account
        </div>
        <div class="col-span-4 text-center border-r">
          Description
        </div>
        <div class="col-span-2 text-center border-r">
          Debit
        </div>
        <div class="col-span-2 text-center border-r">
          Credit
        </div>
        <div class="col-span-1 text-center">
          Track?
        </div>
      </div>

      <div class="mt-3 grid grid-cols-12"
           v-for="entry in entries">
        <div class="col-span-3 text-center border-r">
          <chart-of-accounts
            @update:value="entry.account = $event"
          ></chart-of-accounts>
        </div>
        <div class="col-span-4 text-center border-r">
          <input type="text" v-model="entry.description"
                 class="w-11/12 px-2 py-1 focus:outline-none shadow-sm">
        </div>
        <div class="col-span-2 text-center border-r">
          <input type="text" v-model="entry.debit"
                 class="w-11/12 px-2 py-1 focus:outline-none shadow-sm">
        </div>
        <div class="col-span-2 text-center border-r">
          <input type="text" v-model="entry.credit"
                 class="w-11/12 px-2 py-1 focus:outline-none shadow-sm">
        </div>
        <div class="col-span-1 text-center">
          <input type="checkbox" v-model="entry.isTracked"
                 class="w-11/12 px-2 py-1 focus:outline-none shadow-sm">
        </div>
      </div>

      <div class="mt-3 grid grid-cols-12">
        <div class="col-span-7 border-r">
          <p class="text-left mx-4"><a href="" @click.prevent="addLine" class="text-primary underline">Add Line</a></p>
        </div>
        <div class="col-span-2 text-center border-r">
          <span class="hidden sm:inline-block">Total Debits:</span> {{ debits }}
        </div>
        <div class="col-span-2 text-center border-r">
          <span class="hidden sm:inline-block">Total Credits:</span> {{ credits }}
        </div>
      </div>

      <div class="mt-3 grid grid-cols-12">
        <div class="col-span-9 text-center border-r">
          <span class="inline-block sm:hidden">Difference:</span>
        </div>
        <div class="col-span-2 text-center border-r">
          <span class="hidden sm:inline-block">Difference:</span>  {{ difference }}
        </div>
      </div>

    </div>
  </div>
</template>

<script>
import Errors from "../helpers/Errors";
import filters from "../helpers/filters";
import moment from "moment";

export default {
  name: 'CreateJournal',
  props: {
    hasTransaction: {
      type: Boolean,
      default: false,
    },
    bankTransaction: {
      type: Object,
    },
    accounts: {
      type: Array,
    },
  },
  data() {
    return {
      entries: [
        {
          'account': '',
          'description': this.hasTransaction ? this.bankTransaction.description : '',
          'debit': this.hasTransaction ? this.bankTransaction.debit : '',
          'credit': this.hasTransaction ? this.bankTransaction.credit : '',
          'isTracked': false,
        },
        {
          'account': '',
          'description': this.hasTransaction ? this.bankTransaction.description : '',
          'debit': this.hasTransaction ? this.bankTransaction.credit : '',
          'credit': this.hasTransaction ? this.bankTransaction.debit : '',
          'isTracked': false,
        }
      ],
      reference: '',
      payor: '',
      date: moment(this.hasTransaction ? this.bankTransaction.date : new Date()).format('DD MMMM YYYY'),
      message: '',
      errors: new Errors(),
    }
  },
  mixins: [filters],
  computed: {
    debits: function () {
      return this.entries.reduce(function (accumulator, currentValue) {
        return accumulator + ((currentValue.debit * 1) || 0)
      }, 0)
    },
    credits: function () {
      return this.entries.reduce(function (accumulator, currentValue) {
        return accumulator + ((currentValue.credit * 1) || 0)
      }, 0)
    },
    difference() {
      return (this.credits - this.debits)
    }
  },
  methods: {
    addLine() {
      if (this.entries.length < 20) {

        this.entries.push({
          account: "",
          description: '',
          debit: '',
          credit: '',
          isTracked: false,
        })
      }
    },
    removeLine(index) {
      this.entries.splice(index, 1)
    },
    save() {
      this.message = ''

      if (this.difference !== 0) {
        this.message = 'Debit and credit is not balance.';
        return;
      }

      if (this.difference !== 0) {
        this.message = 'Debit and credit is not balance.';
        return;
      }

      if (this.debits === 0 && this.credits === 0) {
        this.message = 'Please complete the form first.';
        return;
      }

      axios.post('/api/journal', {
        entries: this.entries,
        date: this.date,
        payor: this.payor,
        reference: this.reference,
        id: this.hasTransaction ? this.bankTransaction.id : 0,
        type: 'App\\Models\\BankTransaction'
      }).then(({data}) => {
        this.message = data.message
        this.reference = ''
        this.payor = ''
        this.entries = []
        this.entries.push([
          {
            'account': '',
            'description': '',
            'debit': '',
            'credit': '',
            'isTracked': false,
          },
        ])
      }).catch((error) => {
        this.errors.record(error.response.data.errors)
      })
    }
  }
}
</script>
