<template>
  <transition  name="slide-fade"
               mode="out-in"
               enter-active-class="slide-fade-enter-active"
               leave-active-class="animated slide-fade-leave-active">
  <form @submit.prevent="login" class="duration-500 absolute inset-x-0 w-3/4 mx-auto" v-if="! isRegisterActive"
        @click="errors.clear($event.target.name)">

    <text-input
      :name="email"
      :value="email"
      :label="'Email address'"
      :margin="''"
      :width="'w-full'"
      :error="errors.has('email') ? errors.get('email') : ''"
      @update:value="email = $event"
    />

    <text-input
      :name="password"
      :value="password"
      :label="'Password'"
      :margin="''"
      :type="'password'"
      :error="errors.has('password') ? errors.get('password') : ''"
      :width="'w-full'"
      @update:value="password = $event"
    />

    <div class="w-full my-4">
      <label class="custom-label flex">
        <div class="w-5 h-5 p-1 flex justify-center items-center mr-2 border border-primary rounded custom-shadow"
             :class="remember ? 'bg-primary' : 'bg-white'">
          <input type="checkbox" class="hidden" v-model="remember">
          <svg width="11" height="8" viewBox="0 0 11 8" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M10.1968 0.306019C9.78881 -0.102006 9.12727 -0.102006 8.71925 0.306019L3.55232 5.47295L1.78361 3.70425C1.37559 3.29622 0.714045 3.29622 0.306019 3.70425C-0.102007 4.11227 -0.102006 4.77381 0.30602 5.18184L2.73025 7.60607C2.75452 7.63647 2.78073 7.66583 2.80888 7.69398C3.21691 8.102 3.87845 8.102 4.28647 7.69398L10.1968 1.78361C10.6049 1.37559 10.6049 0.714045 10.1968 0.306019Z"
                  fill="white"/>
          </svg>
        </div>
        <span class="select-none font-medium text-gray-400">Remember Me</span>
      </label>
    </div>

    <button type="submit" class="w-full mt-4 rounded shadow custom-btn">
      <span class="block px-8 py-2 text-gray-900">Login</span>
    </button>

  </form>
  </transition>
</template>

<script>
import Errors from "../helpers/Errors";
import filters from "../helpers/filters";

export default {
  name: 'Login',
  props: {
    isRegisterActive: {
      type: Boolean,
      default: false,
    }
  },
  data() {
    return {
      email: '',
      password: '',
      remember: false,
      errors: new Errors(),
    }
  },
  mixins: [filters],
  methods: {
    login() {
      axios.post('login', {
        email: this.email,
        password: this.password,
        remember: this.remember,
      }).then(({data}) => {
        window.location.href = '/home'
      }).catch((error) => {
        this.errors.record(error.response.data.errors)
      })
    },
  }
}
</script>


<style>
/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active {
  transition: all .5s ease;
  transform: translateX(10px);
}
.slide-fade-leave-active {
  transition: all .5s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  transform: translateX(500px);
}
.slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(-400px);
  opacity: 0;
}
</style>
