<template>
  <div class="w-screen">
    <div v-if="message">{{ message }}</div>
    <div class="w-11/12 bg-gray-200 mx-auto">
      <div class="w-full">

        <div class="flex pt-5">
          <div class="mt-3 grid grid-cols-12">
            <div class="col-span-6 md:col-span-3 border-r my-3">
              <text-input
                :name="'date'"
                :value="date"
                :label="'Date'"
                :margin="''"
                :error="errors.has('date') ? errors.get('date') : ''"
                :width="'w-11/12 mx-auto'"
                @update:value="date = $event"
              />
            </div>

            <div class="col-span-6 md:col-span-3 border-r my-3">
              <text-input
                :name="'reference'"
                :value="reference"
                :label="'Reference'"
                :margin="''"
                :error="errors.has('reference') ? errors.get('reference') : ''"
                :width="'w-11/12 mx-auto'"
                @update:value="reference = $event"
              />
            </div>

            <div class="col-span-6 md:col-span-3 border-r my-3">
              <text-input
                :name="'debit'"
                :value="debit"
                :label="'Debit'"
                :margin="''"
                :error="errors.has('debit') ? errors.get('debit') : ''"
                :width="'w-11/12 mx-auto'"
                @update:value="debit = $event"
              />
            </div>
          </div>

          <div class="w-4/12 mr-12">
            <div class="flex justify-end w-full">
              <button
                class="flex bg-primary rounded-xl overflow-hidden border border-primary shadow-lg focus:outline-none"
                @click="save">
                <div class="py-1 px-4 text-white font-bold">
                  Save
                </div>
                <div class="bg-white px-3 flex flex-shrink-0 py-3">
                  <i class="far fa-save fa-lg text-primary"></i>
                </div>
              </button>
            </div>
          </div>
        </div>

        <div class="mt-5 grid grid-cols-12 bg-primaryLightest text-white">
          <div class="col-span-3 text-center border-r">
            Account
          </div>
          <div class="col-span-5 text-center border-r">
            Description
          </div>
          <div class="col-span-3 text-center border-r">
            Amount
          </div>
          <div class="col-span-1 text-center">
            Track?
          </div>
        </div>

        <div class="mt-3 grid grid-cols-12"
             v-for="(entry, index) in credits">
          <div class="col-span-3 text-center border-r" v-if="entry.expenseId > 0">
            {{ entry.accountName }}
          </div>
          <div class="col-span-3 text-center border-r" v-else>
            <chart-of-accounts
              @update:value="entry.accountNumber = $event"
            ></chart-of-accounts>
          </div>
          <div class="col-span-5 text-center border-r" v-if="entry.expenseId > 0">
              {{ entry.description }}
          </div>
          <div class="col-span-5 text-center border-r" v-else>
              <input type="text" v-model="entry.description"
                     class="w-11/12 px-2 py-1 focus:outline-none shadow-sm">
          </div>
          <div class="col-span-3 text-center border-r" v-if="entry.expenseId > 0">
            {{ entry.amount }}
          </div>
          <div class="col-span-3 text-center border-r" v-else>
            <input type="text" v-model="entry.amount"
                   class="w-11/12 px-2 py-1 focus:outline-none shadow-sm">
          </div>
          <div class="col-span-1 text-center">
            <input type="checkbox" v-model="entry.isTracked"
                   class="w-11/12 px-2 py-1 focus:outline-none shadow-sm">
          </div>
        </div>

        <div class="mt-3 grid grid-cols-12">
          <div class="col-span-8 border-r">
            <p class="text-left mx-4"><a href="" @click.prevent="addLine" class="text-primary underline">Add Line</a></p>
          </div>
          <div class="col-span-3 text-center border-r">
            Total Credits: {{ creditsTotal }}
          </div>
        </div>

        <div class="mt-3 grid grid-cols-12">
          <div class="col-span-8 text-center border-r">

          </div>
          <div class="col-span-3 text-center border-r">
            Difference: {{ difference }}
          </div>
        </div>

      </div>
    </div>

    <unreconciled-reimbursable @added="credit" @removed="remove"></unreconciled-reimbursable>
  </div>


</template>

<script>
import Errors from "../helpers/Errors";
import filters from "../helpers/filters";
import moment from "moment";

export default {
  name: 'ReceiveCash',
  data() {
    return {
      debit: 0,
      credits: [{
        "expenseId": 0,
        "accountNumber": '',
        "accountName": '',
        "amount": 0,
        "description": '',
        "isTracked": false,
      }],
      reference: "",
      date: moment(new Date()).format('DD MMMM YYYY'),
      message: '',
      errors: new Errors(),
    }
  },
  mixins: [filters],
  computed: {
    creditsTotal: function () {
      return this.credits.reduce(function (accumulator, currentValue) {
        return accumulator + ((currentValue.amount * 1) || 0)
      }, 0)
    },
    difference() {
      return this.creditsTotal - this.debit
    },
  },
  methods: {
    addLine() {
      if (this.credits.length < 20) {

        this.credits.push({
          "expenseId": 0,
          "accountNumber": '',
          "accountName": '',
          "amount": 0,
          "description": '',
          "isTracked": false,
        })
      }
    },
    removeLine(index) {
      this.credits.splice(index, 1)
    },
    save() {
      this.message = ''

      if (this.difference !== 0) {
        this.message = 'Debit and credit is not balance.';
        return;
      }

      if (this.debit === 0) {
        this.message = 'Please fill up the form first.';
        return;
      }

      axios.post('/api/journal/receive-cash', {
        credits: this.credits,
        date: this.date,
        reference: this.reference,
        debit: this.debit,
        type: 'App\\Models\\CashTransaction'
      }).then(({data}) => {
          this.message = data.message
          this.credits = []
          this.reference = ''
          this.debit = 0
      }).catch((error) => {
        this.errors.record(error.response.data.errors)
      })
    },
    credit(entry) {
      this.credits = this.credits.filter(item => item.amount !== 0 && item.accountNumber !== "")
      this.credits.push({
        "expenseId": entry.expenseId,
        "accountNumber": entry.accountNumber,
        "accountName": entry.accountName,
        "amount": entry.amount,
        "description": entry.description,
        "isTracked": false,
      })
    },
    remove(entry) {
      let index = this.credits.findIndex(credit => credit.expenseId === entry.expenseId)
      this.credits.splice(index, 1)
    }
  }
}
</script>
