<template>
  <transition name="slide-fade"
              mode="out-in"
              enter-active-class="slide-fade-enter-active"
              leave-active-class="animated slide-fade-leave-active">
  <form @submit.prevent="register" class="duration-500 absolute inset-x-0 w-3/4 mx-auto" v-if="isRegisterActive"
        @click="errors.clear($event.target.name)">

    <text-input
      :name="'name'"
      :value="name"
      :label="'Name'"
      :margin="''"
      :error="errors.has('name') ? errors.get('name') : ''"
      :width="'w-full'"
      @update:value="name = $event"
    />

    <text-input
      :name="'email'"
      :value="email"
      :label="'Email address'"
      :margin="''"
      :error="errors.has('email') ? errors.get('email') : ''"
      :width="'w-full'"
      @update:value="email = $event"
    />

    <text-input
      :name="'password'"
      :value="password"
      :label="'Password'"
      :type="'password'"
      :margin="''"
      :error="errors.has('password') ? errors.get('password') : ''"
      :width="'w-full'"
      @update:value="password = $event"
    />


    <text-input
      :name="'password_confirmation'"
      :value="password_confirmation"
      :label="'Confirm Password'"
      :margin="''"
      :type="'password'"
      :error="errors.has('password_confirmation') ? errors.get('password_confirmation') : ''"
      :width="'w-full'"
      @update:value="password_confirmation = $event"
    />

    <button type="submit" class="w-full mt-4 bg-indigo-600 text-white rounded shadow custom-btn">
      <span class="block px-8 py-2 text-gray-900">Register</span>
    </button>

  </form>
  </transition>
</template>

<script>
import Errors from "../helpers/Errors";

export default {
  name: 'Register',
  props: {
    isRegisterActive: {
      type: Boolean,
      default: false,
    }
  },
  data() {
    return {
      name: '',
      email: '',
      password: '',
      password_confirmation: '',
      errors: new Errors(),
    }
  },
  methods: {
    register() {
      axios.post('register', {
        name: this.name,
        email: this.email,
        password: this.password,
        password_confirmation: this.password_confirmation
      }).then(({data}) => {
        window.location.href = '/home'
      }).catch((error) => {
        this.errors.record(error.response.data.errors)
      })
    },
  }
}
</script>

<style>
/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active {
  transition: all .5s ease;
  transform: translateX(10px);
}
.slide-fade-leave-active {
  transition: all .5s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  transform: translateX(500px);
}
.slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(400px);
  opacity: 0;
}
</style>
