<template>
  <div class="w-6/12" :class="forDashboard ? '' : 'mx-auto'">
    <div class="m-5 underline" v-if="! forDashboard && entries.length > 0">
      Select which to include from transactions below
    </div>

    <div class="container mx-auto" :class="forDashboard ? '' : ' p-2 md:p-2'">
      <div class="w-full mx-auto">
        <div class="flex flex-col">
          <div class="align-middle inline-block min-w-full sm:px-1">
            <div class="border-gray-200">

              <div class="">
                <div>
                  <table class="min-w-full divide-y divide-gray-200 text-xs">
                    <thead class="bg-gray-100" v-if="! forDashboard && entries.length > 0">
                    <tr class="font-bolder text-left tracking-wider uppercase text-gray-700">
                      <th scope="col" class="px-2 md:px-6 py-3">
                        Account
                      </th>
                      <th scope="col" class="px-2 md:px-6 py-3">
                        Date
                      </th>
                      <th scope="col" class="px-2 md:px-6 py-3">
                        Description
                      </th>
                      <th scope="col" class="px-2 md:px-6 py-3">
                        Amount
                      </th>
                      <th scope="col" class="px-2 md:px-6 py-3">
                        Include?
                      </th>
                    </tr>
                    </thead>
                    <tbody class="divide-y divide-gray-200">
                    <tr v-if="entries.length > 0" v-for="(entry, index) in entries" :key="index">
                      <td class="px-2 md:px-6 whitespace-nowrap text-gray-500" v-if="! forDashboard">
                        {{ entry.accountName | capitalize }}
                      </td>
                      <td class="px-2 md:px-6 whitespace-nowrap text-gray-500">
                        {{ entry.date | shortDate }}
                      </td>
                      <td class="px-2 md:px-6 whitespace-nowrap text-gray-500">
                        {{ entry.description }}
                      </td>
                      <td class="px-2 md:px-6 whitespace-nowrap text-gray-500">
                        {{ entry.amount | currency }}
                      </td>
                      <td class="px-2 md:px-6 whitespace-nowrap text-gray-500">
                        <div class="w-full md:w-6/12 my-4">
                          <label class="custom-label flex cursor-pointer">
                            <div class="w-5 h-5 p-1 flex justify-center items-center mr-2 border-2 border-primary rounded custom-shadow" :class="entry.isSelected ? 'bg-primary' : 'bg-white'">
                              <input type="checkbox" class="hidden" @change="toggle(entry)" v-model="entry.isSelected">
                              <svg width="11" height="8" viewBox="0 0 11 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M10.1968 0.306019C9.78881 -0.102006 9.12727 -0.102006 8.71925 0.306019L3.55232 5.47295L1.78361 3.70425C1.37559 3.29622 0.714045 3.29622 0.306019 3.70425C-0.102007 4.11227 -0.102006 4.77381 0.30602 5.18184L2.73025 7.60607C2.75452 7.63647 2.78073 7.66583 2.80888 7.69398C3.21691 8.102 3.87845 8.102 4.28647 7.69398L10.1968 1.78361C10.6049 1.37559 10.6049 0.714045 10.1968 0.306019Z" fill="white"/>
                              </svg>
                            </div>
                          </label>
                        </div>
                      </td>
                    </tr>
                    <tr v-else>
                      <td>All good.</td>
                    </tr>

                    </tbody>
                  </table>
                </div>

              </div>
                <button v-if="forDashboard && total !== '0.00'"
                  class="flex rounded-xl overflow-hidden border border-primary shadow-lg focus:outline-none text-primary"
                  @click="record" >
                    <span class="px-4 py-2">{{ total > 0 ? `Receive ${total}` : `Pay ${total}` }}</span>
                </button>
              <add-journal-entry v-if="adding" :total="total" @accountSelected="save" @close="adding = false"></add-journal-entry>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import filters from "../helpers/filters";
import moment from "moment";

export default {
  name: 'UnreconciledReimbursable',
  props: {
    forDashboard: {
      type: Boolean,
      default: false,
    }
  },
  data() {
    return {
      entries: [{
        "date": "",
        "accountNumber": "",
        "accountName": "",
        "description": '',
        "expenseId": "",
        "amount": 0,
        "isTracked": false,
        "isSelected": false,
      },
      ],
      reference: "sd",
      date: moment(new Date()).format('DD MMMM YYYY'),
      reimbursed: [],
      adding: false,
    }
  },
  mounted() {
    this.getItems()
  },
  mixins: [filters],
  computed: {
    total () {
      return this.entries.filter(entry => entry.isSelected).reduce(function (accumulator, currentValue) {
        return accumulator + ((currentValue.amount * 1) || 0)
      }, 0).toFixed(2)
    },
  },
  methods: {
    getItems () {
      axios.get('/api/unreconciled-reimbursable-expenses')
        .then(({data}) => {
          this.entries = data.data
        })
    },
    addLine() {
      if (this.entries.length < 20) {

        this.entries.push({
          date: "",
          accountNumber: "",
          accountName: "",
          expenseId: "",
          description: '',
          amount: 0,
          isTracked: false,
        })
      }
    },
    record() {
      this.adding = true
    },
    save(account) {
      this.adding = false
      axios.post('/api/reimburse', {
        expensesIncluded: this.entries.filter(entry => entry.isSelected).map(entry => entry.expenseId),
        date: moment(new Date()).format('DD MMMM YYYY'),
        reference: 'afsdf',
        account: account,
        total: this.total,
      }).then(() => this.getItems())
    },
    toggle(entry) {
      entry.isSelected ? this.$emit('added', entry) : this.$emit('removed', entry)
    },
  }
}
</script>
