@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
input[type=text]:focus-within + label,
input[type=password]:focus-within + label {
  @apply transform scale-y-75 -translate-y-6 tracking-tighter text-primary px-1;
}

input[type=text]:focus-within + label,
input[type=text]:not(:placeholder-shown) + label {
  @apply transform scale-y-75 -translate-y-6 tracking-tighter text-primary px-1;
}

input[type=text]:focus-within + label,
input[type=password]:focus-within + label{
  @apply text-primary;
}

input[type=password]:focus-within + label,
input[type=password]:not(:placeholder-shown) + label {
  @apply transform scale-y-75 -translate-y-6 tracking-tighter text-primary px-1;
}

.custom-btn {
  border: 2px solid transparent;
  border-radius: 20px;
  background: linear-gradient(#f3f4f6, #f3f4f6), radial-gradient(circle at top left, #21afd6, #013640);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

button:disabled {
  @apply cursor-not-allowed;
}
