<template>
  <div>
    <div class="fixed z-10 inset-0 overflow-y-auto">
      <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
        <div class="fixed inset-0 transition-opacity" aria-hidden="true">
          <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
        </div>

        <!-- This element is to trick the browser into centering the modal contents. -->
        <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>

        <div class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full" role="dialog" aria-modal="true" aria-labelledby="modal-headline">
          <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
            <div class="sm:flex sm:items-start">
              <div class="mx-auto flex-shrink-0 flex items-center justify-center h-12 w-12 rounded-full bg-primary sm:mx-0 sm:h-10 sm:w-10">
                <i class="fas fa-plus fa-lg text-white"></i>
              </div>
              <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-headline">
                  {{ total > 0 ? `Receive ${total}` : `Pay ${total}` }}
                </h3>
              </div>
            </div>
            <div class="m-4">
              <div class="mt-2">
                <chart-of-accounts
                  @update:value="account = $event"></chart-of-accounts>
<!--                <select v-model="account" @change="selectAccount">-->
<!--                  <option value="">Please select account</option>-->
<!--                  <option :value="acc.number" v-for="acc in accounts">{{ `${acc.number}-${acc.name}` }}</option>-->
<!--                </select>-->
              </div>
            </div>
          </div>
          <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
            <button
              class="flex bg-primary rounded-xl overflow-hidden border border-primary shadow-lg focus:outline-none"
              @click="submit">
              <div class="py-1 px-4 text-white font-bold">
                Save
              </div>
              <div class="bg-white px-3 flex flex-shrink-0 py-3">
                <i class="far fa-save fa-lg text-primary"></i>
              </div>
            </button>

            <button class="flex sm:mx-4 my-4 sm:my-0 bg-gray-400 rounded-xl overflow-hidden border border-gray-400 shadow-lg focus:outline-none sm:mx-4"
                    @click="$emit('close')">
              <div class="py-2 px-4 text-white font-bold">Cancel</div>
              <div class="bg-white px-3 flex flex-shrink-0 py-3">
                <i class="fas fa-times fa-lg text-gray-400"></i>
              </div>
            </button>
          </div>

        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'AddJournalEntry',
  props: {
    total: {
      type: Number,
      default: 0,
    }
  },
  data () {
    return {
      accounts: [],
      account: '',
    }
  },
  mounted() {
    axios.get('/api/chart-of-accounts')
      .then(({data}) => {
        this.accounts = data.accounts
      })
  },
  methods: {
    selectAccount (e) {
      this.account = e.target.value
    },
    submit () {
      this.$emit('accountSelected', this.account)
    }
  }
}
 </script>
