<template>
<div>
  <input
    class="w-11/12 px-2 py-1 focus:outline-none shadow-lg"
    @input="suggest"
    v-model="name"
  />
  <div class="mt-2 flex flex-wrap" v-if="name">
    <span class="cursor-pointer w-11/12 p-2 focus:outline-none shadow-sm"
          v-for="(item, index) in suggestions" :key="index"
          v-if="index < 10"
          @click="setValue(item)"
          @keyup.enter="setValue(item)"
          tabindex="0">
      <small><i class="fas fa-plus text-green-400"></i>{{ `${item.number}-${item.name}` }}</small>
    </span>
    <span class="cursor-pointer w-11/12 p-2 focus:outline-none shadow-sm" @click="addNew" v-if="inputting">
      <small><i class="fas fa-plus text-green-400"></i>Add new</small>
    </span>
  </div>
  <add-new-account v-if="addingNewAccount" @close="addingNewAccount = false" @added="handleNewlyAdded"/>
</div>

</template>

<script>
export default {
  name: 'ChartOfAccounts',
  // props: {
  //   choices: {
  //     type: Array,
  //   },
  // },
  data () {
    return {
      name: '',
      suggestions: [],
      addingNewAccount: false,
      inputting: false,
      //choices: [] working kahit wala ito, observe
    }
  },
  mounted() {
    axios.get('/api/chart-of-accounts')
    .then(({data}) => this.choices = data.accounts)
  },
  methods: {
    suggest (e) {
      this.inputting = true
      this.suggestions =  this.choices.filter(choice => {
        return choice.name.toLowerCase().includes(this.name.toLowerCase())
        || choice.number.toString().includes(this.name)
      })
    },
    handleNewlyAdded (account) {
      this.addingNewAccount = false
      this.choices.push(account)
     this.setValue(account)
    },
    setValue (account) {
      this.name = account.name
      this.suggestions = []
      this.inputting = false
      this.$emit('update:value', account.number)
    },
    addNew() {
      this.addingNewAccount = true
    },
  }
}
 </script>
