<template>
  <div>

  </div>
</template>

<script>
export default {
  name: 'ForReimbursement',
  data () {
    return {
    }
  },
  methods: {
    save () {
      axios.post('/api/broker', {
      })
      .then(({data}) => {
          this.broker = ''
          this.accountNumber = ''
          this.$emit('added', data.account)
      })
      .catch((error) => {})
    }
  }
}
 </script>
