<template>
  <div class="w-11/12">
    <div class="mt-6">
      <div class="relative p-2 border-b border-primary focus-within:border-b-2">
        <input
          :name="name"
          type="text"
          :placeholder="' '"
          class="block w-full appearance-none focus:outline-none bg-transparent text-black focus:ring-none"
          @input="showSuggestions"
          @focusout.prevent="saveIfNotExisting"
          v-model="value"
        />
        <label :for="name" class="absolute top-3 duration-300 text-gray-400">{{ label }}</label>
      </div>
    </div>

    <div class="mt-2 flex flex-wrap" v-if="value">
      <span class="text-xs cursor-pointer bg-gray-200 rounded-md py-1 px-2 mr-1 mt-1"
            v-for="(item, index) in suggestions" :key="index"
            v-if="index < 10"
            @click="setValue(item)"
            @keyup.enter="setValue(item)"
            tabindex="0">
        <small ><i class="fas fa-plus text-green-400"></i> {{ item.name }}</small>
      </span>
    </div>
    <div class="mt-2" v-if="message">
      <span class="text-primary">
        <small>{{ message }}</small>
      </span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Options',
  props: {
    route: {
      type: String,
      default: ''
    },
    label: {
      type: String,
      default: ''
    },
    name: {
      type: String,
      default: ''
    },
    passedValue: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      choices: [],
      value: this.passedValue,
      suggestions: [],
      message: '',
    }
  },
  mounted() {
    this.getChoices()
  },
  methods: {
    getChoices () {
      axios.get(`/api/${this.route}`)
      .then(({data}) => {
        this.choices = data.choices === null ? [] : data.choices
      })
    },
    showSuggestions (e) {
      this.message = ''
      this.suggestions = this.choices.filter(choice => choice.name.toLowerCase().includes(e.target.value.toLowerCase()))
    },
    setValue(item) {
      this.value = item.name
      this.suggestions = []
      this.$emit('update:value', item.name)
    },
    saveIfNotExisting() {
      this.choices.filter(choice => choice.name.toLowerCase().includes(this.value.toLowerCase())).length < 1 && this.submit()
      this.$emit('update:value', this.value)
    },
    submit() {
      axios.post(`/api/${this.route}`, {
        name: this.value
      })
        .then(({data}) => {
          this.message = data.message
        })
        .catch(({error}) => {
          this.message = error.message
        })
    },
  }
}
</script>
