<template>
<div>
  <div v-if="isEditing">
    <input
      :name="name"
      :placeholder="label"
      class="w-11/12 px-2 py-1 focus:outline-none shadow-sm"
      @input="suggest"
      v-model="value"
    />
    <div class="mt-2 flex flex-wrap" v-if="inputting">
      <span class="text-xs cursor-pointer bg-gray-200 rounded-md py-1 px-2 mr-1 mt-1"
            v-for="(item, index) in suggestions" :key="index"
            v-if="index < 10"
            @click="setValue(item)"
            @keyup.enter="setValue(item)"
            tabindex="0">
        <small><i class="fas fa-plus text-green-400"></i> {{ item }}</small>
      </span>
    </div>
    <p v-if="message">{{ message }}</p>
    <button @click="checkIsBrokerExisting" class="bg-primary rounded-xl shadow-lg text-white px-4 py-1">Save</button>
  </div>
  <div v-else class="flex justify-start">
    <p class="mr-2">{{ value }}</p>
    <button @click="isEditing = true" class="bg-primary rounded-xl shadow-lg text-white px-4 py-1">{{  value ? 'Edit' : 'Add' }}</button>
  </div>
</div>
</template>

<script>
export default {
  name: 'OptionsWithModelUpdate',
  props: {
    choices: {
      type: Array,
    },
    route: {
      type: String,
      default: ''
    },
    label: {
      type: String,
      default: ''
    },
    name: {
      type: String,
      default: ''
    },
    passedValue: {
      type: String,
      default: ''
    },
    editWholeEntry: {
      type: Boolean,
      default: false
    },
    model: {
      type: Object,
      default: {}
    },
    editRoute: {
      type: String,
      default: ''
    }
  },
  data () {
    return {
      value: this.passedValue ? JSON.parse(this.passedValue).name : '',
      suggestions: [],
      inputting: false,
      isEditing: false,
      message: ''
    }
  },
  methods: {
    suggest (e) {
      this.inputting = true
      this.suggestions =  this.choices.filter(choice => choice.name.toLowerCase().includes(e.target.value))
        .map(choice => choice.name)
    },
    setValue (item) {
      this.value = item
      this.suggestions = []
      this.inputting = false
    },
    checkIsBrokerExisting() {
      let results = this.choices.filter(choice => choice.name.toLowerCase().includes(this.value.toLowerCase()))

      results.length >= 1 ?
        this.editModel() :
        this.message = 'Broker does not exist. Add first..'
    },
    editModel () {
      this.message = ''
      axios.put(`${this.editRoute}/${this.model.id}`, {
        broker: this.value
      }).then(() => this.isEditing = false)
    }
  }
}
 </script>
