<template>
  <div class="w-11/12">
    <div class="mt-6">
      <div class="relative p-2 border-b border-primary focus-within:border-b-2">
        <input
          :name="name"
          type="text"
          :placeholder="' '"
          class="block w-full appearance-none focus:outline-none bg-transparent text-black focus:ring-none"
          @input="showSuggestions"
          v-model="value"
        />
        <label :for="name" class="absolute top-3 duration-300 text-gray-400">{{ label }}</label>
      </div>
    </div>

    <div class="mt-2 flex flex-wrap" v-if="value">
    <span class="text-xs cursor-pointer bg-gray-200 rounded-md py-1 px-2 mr-1 mt-1"
          v-for="(item, index) in suggestions" :key="index"
          v-if="index < 10"
          @click="setValue(item)"
          @keyup.enter="setValue(item)"
          tabindex="0">
      <small><i class="fas fa-plus text-green-400"></i> {{ item.name }}</small>
    </span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'OptionsWithoutAutoSave',
  props: {
    choices: {
      type: Array,
    },
    label: {
      type: String,
      default: ''
    },
    name: {
      type: String,
      default: ''
    },
    passedValue: {
      type: String,
      default: ''
    },
  },
  data() {
    return {
      value: this.passedValue,
      suggestions: [],
    }
  },
  methods: {
    showSuggestions(e) {
      this.suggestions = this.choices.filter(choice => choice.name.toLowerCase().includes(e.target.value.toLowerCase()))
    },
    setValue(item) {
      this.value = item.id
      this.suggestions = []
      this.inputting = false
    },
  }
}
</script>
