<template>
 <div class="mt-2">
   <div :class="`${width} ${margin}`">
     <div class="relative p-2 rounded-md focus-within:border-primary bg-white custom-shadow">
       <input :id="name"
              type="text"
              :name="name"
              :value="value"
              class="block w-full appearance-none focus:outline-none bg-transparent text-black"
              :placeholder="placeholder"
              @click="isDropdownVisible = true"
       >
       <label :for="name" class="absolute top-3 duration-300 text-gray-400">{{ label }}</label>
       <transition name="fade">
         <div class="absolute right-5 top-3" v-show="isDropdownVisible">
           <svg width="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
             <path d="M240.971 130.524l194.343 194.343c9.373 9.373 9.373 24.569 0 33.941l-22.667 22.667c-9.357 9.357-24.522 9.375-33.901.04L224 227.495 69.255 381.516c-9.379 9.335-24.544 9.317-33.901-.04l-22.667-22.667c-9.373-9.373-9.373-24.569 0-33.941L207.03 130.525c9.372-9.373 24.568-9.373 33.941-.001z" fill="#0881A3" stroke="#0881A3"/>
           </svg>
         </div>
       </transition>
       <transition name="fade">
         <div class="absolute right-5 top-5" v-show="! isDropdownVisible">
           <svg width="16" height="9" viewBox="0 0 16 9" fill="none" xmlns="http://www.w3.org/2000/svg">
             <path d="M1 1.80448C1 1.59552 1.0942 1.38657 1.23549 1.26119C1.56518 0.968656 2.13036 0.968656 2.50715 1.26119L8.01766 6.15075L13.4811 1.2194C13.8108 0.926866 14.3759 0.926866 14.7527 1.2194C15.0824 1.51194 15.0824 2.01343 14.7527 2.34776L8.62994 7.7806C8.30025 8.07314 7.73507 8.07314 7.35828 7.7806L1.23549 2.34776C1.0942 2.1806 1 2.01343 1 1.80448Z" fill="#0881A3" stroke="#0881A3"/>
           </svg>
         </div>
       </transition>

     </div>
     <small class="text-danger mx-2" v-if="error">{{ error }}</small>
   </div>
   <div class="bg-white py-4 shadow-md" :class="isDropdownVisible ? '' : 'hidden'">
     <p class="px-4 py-2 hover:bg-secondary cursor-pointer" @click="setValue('Asset')">Asset</p>
     <p class="px-4 py-2 hover:bg-secondary cursor-pointer" @click="setValue('Liability')">Liability</p>
     <p class="px-4 py-2 hover:bg-secondary cursor-pointer" @click="setValue('Income')">Income</p>
     <p class="px-4 py-2 hover:bg-secondary cursor-pointer" @click="setValue('Expenses')">Expenses</p>
     <p class="px-4 py-2 hover:bg-secondary cursor-pointer" @click="setValue('Equity')">Equity</p>
   </div>
 </div>
</template>


<script>
export default {
  name: 'TextInput',
  props: {
    name: {
      type: String,
      default: ''
    },
    value: {
      type: String,
      default: ''
    },
    placeholder: {
      type: String,
      default: ' ',
    },
    label: {
      type: String,
      default: '',
    },
    width: {
      type: String,
      default: 'w-full md:w-6/12',
    },
    margin: {
      type: String,
      default: '',
    },
    error: {
      type: String,
      default: '',
    }
  },
  data() {
    return {
      isDropdownVisible: false
    }
  },
  methods: {
    setValue(value) {
      this.$emit('update:value', value)
      this.isDropdownVisible = false
    }
  }
}
</script>

<style>
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>
