<template>
<!--  THIS IS NOT USED AS NOW-->
  <div>
    <button class="flex bg-primary rounded-xl overflow-hidden border border-primary shadow-lg focus:outline-none" @click="uploading = true">
      <div class="py-2 px-4 text-white font-bold" v-text="title"></div>
      <div class="bg-white px-3 flex flex-shrink-0 py-3">
        <i class="fas fa-upload fa-lg text-primary"></i>
      </div>
    </button>

    <div class="fixed z-10 inset-0 overflow-y-auto" v-if="uploading">
      <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
        <div class="fixed inset-0 transition-opacity" aria-hidden="true">
          <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
        </div>

        <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>

        <div class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full" role="dialog" aria-modal="true" aria-labelledby="modal-headline">
          <form enctype="multipart/form-data">
          <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
            <div class="sm:flex sm:items-start">
              <div class="mx-auto flex-shrink-0 flex items-center justify-center h-12 w-12 rounded-full bg-primary sm:mx-0 sm:h-10 sm:w-10">
                <i class="fas fa-upload fa-lg text-white"></i>
              </div>
              <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-headline">
                 Select file to upload
                </h3>
              </div>
            </div>
            <div class="w-full px-2">
              <div class="md:flex w-full bg-grey-lighter">
                <label class="w-32 md:w-64 flex flex-col items-center px-4 py-3 bg-white text-blue rounded-lg custom-shadow tracking-wide border border-primary cursor-pointer">

                  <span class="text-base leading-normal text-primary">Click here to browse files</span>
                  <input type="file" class="hidden" ref="file"
                         v-on:change="processFile($event)"/>
                </label>
                <p class="text-red-400 text-sm ml-4 pt-4" v-if="error">{{ error }}</p>

              </div>
            </div>
          </div>
          <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse space-x-4">
            <button class="flex bg-primary rounded-xl overflow-hidden border border-primary shadow-lg focus:outline-none mx-4"
                    @click="submit">
              <div class="py-2 px-4 text-white font-bold">Submit</div>
              <div class="bg-white px-3 flex flex-shrink-0 py-3">
                <i class="far fa-paper-plane fa-lg text-primary"></i>
              </div>
            </button>

            <button class="flex bg-gray-400 rounded-xl overflow-hidden border border-gray-400 shadow-lg focus:outline-none"
                    @click="uploading = false">
              <div class="py-2 px-4 text-white font-bold">Cancel</div>
              <div class="bg-white px-3 flex flex-shrink-0 py-3">
                <i class="fas fa-times fa-lg text-gray-400"></i>
              </div>
            </button>
          </div>
          </form>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
export default {
  name: 'UploadFile',
  props: {
    url: {
      type: String,
      default: '',
    },
    title: {
      type: String,
      default: '',
    },
    model: {
      type: Object,
      default: {}
    }
  },
  data () {
    return {
      fileName: '',
      file: '',
      uploading: false,
      error: ''
    }
  },
  methods: {
    submit (e) {
      e.preventDefault();
      alert('adfsadf')
    },
    processFile(e) {

      e.preventDefault();
      console.log(e.target.files[0])
      this.file = e.target.files[0];

      const config = {
        headers: {'content-type': 'multipart/form-data'}
      }

      let formData = new FormData();
      formData.append('file', this.file);
      formData.append('bankId', this.model.id);

      axios.post(`${this.url}`, formData, config)
        .then(({data}) => {
          console.log(data)
//          this.fileUploadWithError = this.fileUploadWithError.filter(answer => answer !== questionId)
        }).catch(error => {
          this.error = error
      })
    },
  }
}
 </script>
